h1 {
        font-family: 'Oswald', sans-serif; 
        text-align: center;
        color: rgb(71, 68, 68);
      }

      p {
        font-family: 'Fira Sans', sans-serif;
        text-align: center;
        color: rgb(71, 68, 68);
      }

      a {
        color: rgb(139, 3, 69);
        text-decoration-line: none;
      }

      a:hover {
        text-decoration-line: underline;
      }

      #daily-challenge {
        color: rgb(83, 30, 63);
        font-weight: bold;
        font-size: 52px;
      }