body {
  text-align: center;
  background-color: rgb(246, 227, 205);
  margin: 50px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

h1 {
  font-family: "Oswald", sans-serif;
  color: rgb(71, 68, 68);
}

p {
  font-family: "Fira Sans", sans-serif;
  color: rgb(38, 28, 5);
}

a {
  color: rgb(139, 3, 69);
  text-decoration-line: none;
}

a:hover {
  text-decoration-line: underline;
}

#daily-challenge {
  color: rgb(169, 87, 47);
  font-weight: bold;
  font-size: 52px;
}
